


<!DOCTYPE html>
<html>
<head>
	<title>Preguntas</title>

	<style>

	.botons{
		width: 400px;
		opacity: 0.9;
	}

	.centrar1
	{
		float: center;
	}

	.row{
    display: flex;
    justify-content: center;
}


   .qdesea{
   	letter-spacing: 3px;
   	font-family: 'Work Sans', sans-serif;
   	font-size: 10px;
   	padding-bottom: 20px;
   	padding-top: 50px;
   	 
   }





	</style>
</head>
<body>



<div class="row qdesea">

<h1> ¿ QUE DESEA HACER? </h1>

</div>

<div class="row">



<%= link_to image_tag("vender2.png",class:"botons" ), new_publication_path( :motivo => "1") %>
<%= link_to image_tag("arrendar1.png",class:"botons" ), new_publication_path( :motivo => "2") %>

</div>

</body>
</html>