
<style>
	


.color{
	background-color: gray;
}
.aviso{
  font-size: 25px;
  opacity: 0.8;
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
}

.centradillo{
	text-align: center;
	font-size: 25px;
  opacity: 0.8;
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
}


</style>


<div class="container">
<div class="row color">
<h1 class="aviso"> Tu Aviso será revisado ¡Muchas Gracias!</h1>

</div>
</div>